include ./header.jade
body
    tr
      td.innerpadding.borderbottom
        table(width='100%', border='0', cellspacing='0', cellpadding='0')
          tr
            td.h2
              | Hola Carlo
          tr
            td.bodycopy
              | Espero que te encuentres muy bien, gracias por ser un héroe
    tr
      td.innerpadding.borderbottom
        table(width='115', align='left', border='0', cellpadding='0', cellspacing='0')
          tr
            td(height='115', style='padding: 0 0 0 0;')
              img.fix(src='images/letter.png', width='', height='', border='0', alt='')
        table.col380(align='left', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 380px;')
          tr
            td
              table(width='100%', border='0', cellspacing='0', cellpadding='0')
                tr
                  td.bodycopy
                    | En el Instituto Nacional Materno Perinatal se necesita 
                    b 4 unidades
                    |  de sangre compatibles con tu grupo sanguineo.
                tr
                  td(style='padding: 20px 0 0 0;')
                    table.buttonwrapper(bgcolor='#e05443', border='0', cellspacing='0', cellpadding='0')
                      tr
                        td.button(height='45')
                          a(href='#') Ver Detalle
    tr
      td.innerpadding.bodycopy
        b Instituto Nacional Materno Perinatal
        br
        | 		  Dirección: Jr. Miro Quesada Nº 941 - Lima
        br
        | 		  Teléfono: 328-1370
        br
        | 		  Horario de Atención: Lunes a domingo de 8:00 am  a 6:00 pm
include ./footer.jade