doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title YoDonante
    style(type='text/css').
      body {margin: 0; padding: 0; min-width: 100%!important;}
      img {height: auto;}
      .content {width: 100%; max-width: 600px;}
      .header {padding: 40px 30px 20px 30px;}
      .innerpadding {padding: 30px 30px 30px 30px;}
      .borderbottom {border-bottom: 1px solid #f2eeed;}
      .subhead {font-size: 15px; color: #ffffff; font-family: sans-serif; letter-spacing: 4px;}
      .h1 {color: #FFF; font-family: sans-serif;}
      .h2, .bodycopy {color: #153643; font-family: sans-serif;}
      .h1 {font-size: 33px; line-height: 38px; font-weight: bold;}
      .h2 {padding: 0 0 15px 0; font-size: 24px; line-height: 28px; font-weight: bold;}
      .bodycopy {font-size: 16px; line-height: 22px;}
      .button {text-align: center; font-size: 18px; font-family: sans-serif; font-weight: bold; padding: 0 30px 0 30px;}
      .button a {color: #ffffff; text-decoration: none;}
      .footer {padding: 20px 30px 15px 30px;}
      .footercopy {font-family: sans-serif; font-size: 14px; color: #ffffff;}
      .footercopy a {color: #ffffff; text-decoration: underline;}
      @media only screen and (max-width: 550px), screen and (max-device-width: 550px){
      body#yahoo .hide {display: none!important;}
      body#yahoo .buttonwrapper {background-color: transparent!important;}
      body#yahoo .button {padding: 0px!important;}
      body#yahoo .button a {background-color: #e05443; padding: 15px 15px 13px!important;}
      body#yahoo .unsubscribe {display: block; margin-top: 20px; padding: 10px 50px; background: #2f3942; border-radius: 5px; text-decoration: none!important; font-weight: bold;}
      }
  body#yahoo(bgcolor='#f6f8f1')
    table(width='100%', bgcolor='#f6f8f1', border='0', cellpadding='0', cellspacing='0')
      tr
        td
          table.content(bgcolor='#ffffff', align='center', cellpadding='0', cellspacing='0', border='0')
            tr
              td.header(bgcolor='#d04944')
                table(width='70', align='left', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(height='70', style='padding: 0 20px 20px 0;')
                      img.fix(src='images/icon.png', width='90', height='90', border='0', alt='')
                table.col425(align='left', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 425px;')
                  tr
                    td(height='70')
                      table(width='100%', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td.subhead(style='padding: 0 0 0 3px;')
                            | Donar sangre es regalar vida
                        tr
                          td.h1(style='padding: 5px 0 0 0;')
                            | YoDonante
            tr
              td.innerpadding.borderbottom
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tr
                    td.h2
                      | Hola Carlo
                  tr
                    td.bodycopy
                      | Muchas gracias por registrarte a YoDonante
            tr
              td.innerpadding.borderbottom
                table(width='115', align='left', border='0', cellpadding='0', cellspacing='0')
                  tr
                    td(height='115', style='padding: 0 0 0 0;')
                      img.fix(src='images/checked.png', width='', height='', border='0', alt='')
                table.col380(align='left', border='0', cellpadding='0', cellspacing='0', style='width: 100%; max-width: 380px;')
                  tr
                    td
                      table(width='100%', border='0', cellspacing='0', cellpadding='0')
                        tr
                          td.bodycopy
                            | Tan solo un paso más. Necesitamos que verifiques tu correo por favor.
                        tr
                          td(style='padding: 20px 0 0 0;')
                            table.buttonwrapper(bgcolor='#e05443', border='0', cellspacing='0', cellpadding='0')
                              tr
                                td.button(height='45')
                                  a(href='#') Validar tu correo
            tr
              td.footer(bgcolor='#d04944')
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tr
                    td.footercopy(align='center')
                      | ® YoDonante 2016
                      br
                      span.hide Ya no deseas recibir correos
                      a.unsubscribe(href='#')
                        font(color='#ffffff')
                        | Clic aquí
                  tr
                    td(align='center', style='padding: 20px 0 0 0;')
                      table(border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(width='37', style='text-align: center; padding: 0 10px 0 10px;')
                            a(href='http://www.facebook.com/')
                              img(src='images/facebook-logo-button.png', width='37', height='37', alt='Facebook', border='0')
                          td(width='37', style='text-align: center; padding: 0 10px 0 10px;')
                            a(href='http://www.twitter.com/')
                              img(src='images/twitter-logo-button.png', width='37', height='37', alt='Twitter', border='0')
