<div layout="column" ng-cloak>
	<img style="margin: auto; max-width: 100%;" alt="slide" src="assets/banner.jpg">

	<div class="text-banner">
		<h2>Qué hacemos</h2>
		<p>Conectamos a los donadores voluntarios con los requerimientos de los bancos de sangre de acuerdo a la compatibilidad, localización y disponibilidad y te notificamos sobre las personas impactadas gracias a tu donación.</p>

		<div class="item-1">
			<img src="./src/assets/images/p1.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quas alias ullam molestias nobis natus fuga odio doloribus? Non sint placeat, ab quia odio, facilis illo quisquam accusamus. Veniam, asperiores!</p>
		</div>
		<div class="item-1">
			<img src="./src/assets/images/p1.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quas alias ullam molestias nobis natus fuga odio doloribus? Non sint placeat, ab quia odio, facilis illo quisquam accusamus. Veniam, asperiores!</p>
		</div>
		<div class="item-1">
			<img src="./src/assets/images/p1.jpg" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quas alias ullam molestias nobis natus fuga odio doloribus? Non sint placeat, ab quia odio, facilis illo quisquam accusamus. Veniam, asperiores!</p>
		</div>
	</div>
	
	<md-list  ng-cloak>
  		<md-subheader class="md-no-sticky"><h1>Requisitos para donar sangre:</h1></md-subheader>
	  	<md-list-item >
	    	<p>1. Ser mayor de dieciocho años y menor de cincuenta y cinco. Los mayores de cincuenta y cinco años pueden donar con autorización expresa del médico responsable del Banco de Sangre. </p>
	  	</md-list-item>
	  	<md-list-item >
	    	<p>2. Gozar de plenas facultades físicas y mentales, para lo cual se deberá contar con la certificación del médico responsable del Banco de Sangre, si el caso lo requiere. </p>
	  	</md-list-item>
	  	<md-list-item >
	    	<p>3. Otorgar su consentimiento en forma expresa, libre e informada.</p>
	  	</md-list-item>

	  	<md-list-item >
	    	<p>4. Cumplir con los exámenes establecidos.</p>
	  	</md-list-item>
  	</md-list>
	
</div>