<img style="margin: auto; max-width: 100%;" alt="slide" src="./src/assets/images/portada-yodonante.jpg">
<div layout="column" ng-cloak style="width: 70%; margin: 0 auto;">

	<div class="text-banner text-center" layout-align="center">
		<br>
		<h1>¿Quienes Somos?</h1>
		<p>Somos una plataforma que promueve la donación voluntaria de sangre de manera segura y permite la gestión eficiente de la sangre donada en los diferentes bancos de donación.</p>
		<hr class="line-separator">
		<h1>¿Qué hacemos?</h1>
		<p>Conectamos a los donadores voluntarios con los requerimientos de los bancos de sangre de acuerdo a la compatibilidad, localización y disponibilidad y te notificamos sobre las personas impactadas gracias a tu donación.</p>
		
		<div class="item-image">
			<img src="./src/assets/images/p1.jpg" alt="">
			<h2 class="item-title">Registra</h2>
			<h4>Registra tus datos de contacto</h4>
		</div>
		<div class="item-image">			
			<img src="./src/assets/images/p2.jpg" alt="">
			<h2 class="item-title">Localiza</h2>
			<h4>El requerimiento más cercano</h4>
		</div>
		<div class="item-image">
			
			<img src="./src/assets/images/p3.jpg" alt="">
			<h2 class="item-title">Revisa</h2>
			<h4>Tu historial de donaciones</h4>
		</div>
	</div>

	<hr class="line-separator">

	<md-list  ng-cloak>
  		<md-subheader class="md-no-sticky"><h1 class="title-home">Requisitos para donar sangre:</h1></md-subheader>
	  	<md-list-item >
	    	<p>1. Ser mayor de dieciocho años y menor de cincuenta y cinco. Los mayores de cincuenta y cinco años pueden donar con autorización expresa del médico responsable del Banco de Sangre. </p>
	  	</md-list-item>
	  	<md-list-item >
	    	<p>2. Gozar de plenas facultades físicas y mentales, para lo cual se deberá contar con la certificación del médico responsable del Banco de Sangre, si el caso lo requiere. </p>
	  	</md-list-item>
	  	<md-list-item >
	    	<p>3. Otorgar su consentimiento en forma expresa, libre e informada.</p>
	  	</md-list-item>

	  	<md-list-item >
	    	<p>4. Cumplir con los exámenes establecidos.</p>
	  	</md-list-item>
  	</md-list><br>

	
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
  		<md-button class="md-raised md-primary btn-call-to-action">Regístrate y salva una Vida</md-button>
  	</section>
	
</div>